/*================  color  ============================*/

$white:white;
$dark-orange:#ff5722;
$very-light-red:#FFFFFF9B;
$paint-chip:#468CBB;
$cerrlean-frost:#6EABBF;
$black:#000000;
$light-blue:#589BC7;
$magenta-pink:#ff0096;
$electric-violet:#da0f8a;
$grey:#999999;
$bluebarry:#f73ba9;
$grey44:#707070;
$metallic-seaweed:#0D5F95;
$dark-red:#b20303;
$kingly-cloud:#dedede;
$white-smoke:#f5f5f5;
$cerulean-frost:#5B99C2;
$grey94:#f0f0f0;
$medium-dark-shed-cyan-blue:#06467E;
$charcol:#333;
$primary-blue:#0096d6;
$burlywood: #deb887;
$darkgray: #a9a9a9;
$grey80: #808080;
$darkestgrey: #352f2f;

$royal-blue:#293489;
$cornflower-blue:#6495ed;
$wine: #3f2222;
$color-black-transparency: rgba(0, 0, 0, .8);
$right-arrow: '\2192';
$dusty-grey:#5a5a5a;
$dark-purple: #4a104a;



$openSans: 'Open Sans', sans-serif;
$bodoni: 'Source Serif Pro', serif;
$arimo: 'Arimo', sans-serif;
$arial: 'Arial', sans-serif;


/*===============  font-weight variable  ==================*/

$font-semi-bold:600;
$font-bold:bold;
$font-medium:500;
$font-light:300;
$font-normal:normal;

:root{
    --white:#{$white};
    --black:#{$black};
    --white-smoke: #{$white-smoke};
    --darkestgrey: #352f2f;
    --warm-grey : #edeae4;
    --dark-blue: #353435;
    --lightest-blue: #0065ac;
    --light-blue: #0059a1;
    --light-grey: #d5e9f6;
    --light-green: #00ac41;
    --light-cloudy: #eaf4fb;
    --sunset-orange: #ef4e45;
    --white-beige: #f2e4e3;
    --gulf-blue: #35425b;
    --white-smoke-light: #f9f1f0;
    --indian-red: #eb3e36;
    --fern-green: #009685;
    --freezing-vapour: #d5e9f6;
    --dark-cyan: #0077a0;
    --almosty-whity: #f1f9f8;
    --dark-green: #008982;
    --persian-red: #d32f2f;
    --white-smoke:#{$white-smoke};


    --banner-bg-color: var(--darkestgrey);
    --banner-text-color: var(--white);

    --hero-banner-bg-color: var(--warm-grey);
    --hero-banner-text-color: var(--black);

    --bg-design-bg-color: var(--white);
    --bg-design-title-color: var(--black);
    --bg-design-description-color: var(--black);
    --bg-design-btnbg-color: var(--black);
    --bg-design-ltbottom-color: var(--dark-blue);
    --bg-design-rtbottom-color: var(--warm-grey);

    --color-greyscale-gray-700: #3A4750;
    --card-bg-color: var(--white);
    --card--title-color: var(--darkestgrey);

}

.bg-theme-blue{
    --bg-design-bg-color: var(--lightest-blue);
    --bg-design-title-color: var(--white-smoke);
    --bg-design-description-color: var(--light-grey);
    --bg-design-btnbg-color: var(--light-green);
    --bg-design-rtbottom-color: var(--light-cloudy);
    --bg-design-ltbottom-color: var(--light-blue);
}

.bg-theme-red{
    --bg-design-bg-color: var(--sunset-orange);
    --bg-design-title-color: var(--white-smoke);
    --bg-design-description-color: var(--white-beige);
    --bg-design-btnbg-color: var(--gulf-blue);
    --bg-design-rtbottom-color: var(--white-smoke-light);
    --bg-design-ltbottom-color: var(--indian-red);
}

.bg-theme-green{
    --bg-design-bg-color: var(--fern-green);
    --bg-design-title-color: var(--white-smoke);
    --bg-design-description-color: var(--freezing-vapour);
    --bg-design-btnbg-color: var(--dark-cyan);
    --bg-design-rtbottom-color: var(--almosty-whity);
    --bg-design-ltbottom-color: var(--dark-green);
}