<div class="article-cards">
        <div class="article-cards__menu">
            <input type="text" class="article-cards__menu--item" value="All topics" id="dropdowninput" name="deopdown">
            <button class="dopdown-up  fas fa-caret-down"></button>
        </div>
        <div class="article-cards__container">
            <div class="article-cards__card">
                <img src="https://picsum.photos/seed/picsum/580/300" alt="Small Business" class="article-cards__card--image">
                <div class="article-cards__card--detailed">
                    <span class="card-detailed__location">opening soon</span>
                    <span class="card--detailed__publishdate">june 20, 2024</span>
                </div>
                <h2 class="article-cards__card--title">The standard Lorem Ipsum passage, used since the 1500s</h2>
                <div class="article-cards__card--description">
                    <p class="description-detail">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
                        <a href="#" class="description-detail--link">Read
                            <button class="description-detail--link-btnmore  fas fa-arrow-right"></button>
                        </a>
                    </p>
                    
                </div>
            </div>   
            <div class="article-cards__card">
                <img src="https://picsum.photos/seed/picsum/580/300" alt="Small Business" class="article-cards__card--image">
                <div class="article-cards__card--detailed">
                    <span class="card-detailed__location">News</span>
                    <span class="card--detailed__publishdate">june 20, 2024</span>
                </div>
                <h2 class="article-cards__card--title">1914 translation by H. Rackham</h2>
                <div class="article-cards__card--description">
                    <p class="description-detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        <a href="#" class="description-detail--link">Read
                            <button class="description-detail--link-btnmore  fas fa-arrow-right"></button>
                        </a>
                    </p>
                </div>
            </div>   
            <div class="article-cards__card">
                <img src="https://picsum.photos/seed/picsum/580/300" alt="Small Business" class="article-cards__card--image">
                <div class="article-cards__card--detailed">
                    <span class="card-detailed__location">Tips & Tricks</span>
                    <span class="card--detailed__publishdate">june 20, 2024</span>
                </div>
                <h2 class="article-cards__card--title">1914 translation by H. Rackham</h2>
                <div class="article-cards__card--description">
                    <p class="description-detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        <a href="#" class="description-detail--link">Read
                            <button class="description-detail--link-btnmore fas fa-arrow-right"></button>
                        </a>
                    </p> 
                </div>
            </div>   
            <div class="article-cards__card">
                <img src="https://picsum.photos/seed/picsum/580/300" alt="Small Business" class="article-cards__card--image">
                <div class="article-cards__card--detailed">
                    <span class="card-detailed__location">Home Buyers</span>
                    <span class="card--detailed__publishdate">june 20, 2024</span>
                </div>
                <h2 class="article-cards__card--title">The standard Lorem Ipsum passage, used since the 1500s</h2>
                <div class="article-cards__card--description">
                    <p class="description-detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        <a href="#" class="description-detail--link">Read
                            <button class="description-detail--link-btnmore  fas fa-arrow-right"></button>
                        </a>    
                    </p>
                </div>
            </div>   
            <div class="article-cards__card">
                <img src="https://picsum.photos/seed/picsum/580/300" alt="Small Business" class="article-cards__card--image">
                <div class="article-cards__card--detailed">
                    <span class="card-detailed__location">Home Buyers</span>
                    <span class="card--detailed__publishdate">june 20, 2024</span>
                </div>
                <h2 class="article-cards__card--title">1914 translation by H. Rackham</h2>
                <div class="article-cards__card--description">
                    <p class="description-detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        <a href="#" class="description-detail--link">Read
                         <button class="description-detail--link-btnmore  fas fa-arrow-right"></button>
                        </a>
                    </p>
                </div>
                
            </div>   
            <div class="article-cards__card">
                <img src="https://picsum.photos/seed/picsum/580/300" alt="Small Business" class="article-cards__card--image">
                <div class="article-cards__card--detailed">
                    <span class="card-detailed__location">opening soon</span>
                    <span class="card--detailed__publishdate">june 20, 2024</span>
                </div>
                <h2 class="article-cards__card--title">1914 translation by H. Rackham</h2>
                <div class="article-cards__card--description">
                    <p class="description-detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        <a href="#" class="description-detail--link">Read
                          <button class="description-detail--link-btnmore  fas fa-arrow-right"></button>
                        </a>
                        
                    </p>
                </div>
                
            </div>   
            <div class="article-cards__card">
                <img src="https://picsum.photos/seed/picsum/580/300" alt="Small Business" class="article-cards__card--image">
                <div class="article-cards__card--detailed">
                    <span class="card-detailed__location">Tips & Tricks</span>
                    <span class="card--detailed__publishdate">june 20, 2024</span>
                </div>
                <h2 class="article-cards__card--title">1914 translation by H. Rackham</h2>
                <div class="article-cards__card--description">
                    <p class="description-detail">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
                        <a href="#" class="description-detail--link">Read
                            <button class="description-detail--link-btnmore  fas fa-arrow-right"></button>
                        </a>
                    </p>
                </div>
                
            </div>   
        </div>
    </div>