<div class="cmp-new-footer">
    <div class="cmp-new-footer__main-container">
        <div class="cmp-new-footer__top-section">
            <div class="cmp-new-footer__top-section-items">
                <h2 class="cmp-new-footer__title">hOMeBUYERS</h2>
                <ul class="cmp-new-footer__link-section">
                    <li class="cmp-new-footer__link-item"><a href="#">Homebuying Process</a></li>
                    <li class="cmp-new-footer__link-item"><a href="#">Our Affiliates</a></li>
                    <li class="cmp-new-footer__link-item"><a href="#">Blog</a></li>
                </ul>
                <div class="cmp-new-footer__logo-section">
                    <a href="#"><img class="cmp-new-footer__logo-item" src="../../images/inspire_logo.png" alt="inspire"></a>
                    <a href="#"><img class="cmp-new-footer__logo-item" src="../../images/parkway_logo.png" alt="parkway"></a>
                    <a href="#"><img class="cmp-new-footer__logo-item" src="../../images/ihl_logo.png" alt="ihl"></a>
                </div>

            </div>
            <div class="cmp-new-footer__top-section-items">
                <h2 class="cmp-new-footer__title">HOMEOWNERS</h2>
                <ul class="cmp-new-footer__link-section">
                    <li class="cmp-new-footer__link-item"><a href="#">Maintenance Videos</a></li>
                    <li class="cmp-new-footer__link-item"><a href="#">Caring for Your New Home</a></li>
                    <li class="cmp-new-footer__link-item"><a href="#">Customer Service</a></li>
                </ul>

            </div>
            <div class="cmp-new-footer__top-section-items">
                <h2 class="cmp-new-footer__title">DISCOVER CENTURY</h2>
                <ul class="cmp-new-footer__link-section">
                    <li class="cmp-new-footer__link-item"><a href="#">About Us</a></li>
                    <li class="cmp-new-footer__link-item"><a href="#">Century Home Connect</a></li>
                    <li class="cmp-new-footer__link-item"><a href="#">Homeowner Reviews</a></li>
                    <li class="cmp-new-footer__link-item"><a href="#">News</a></li>
                    <li class="cmp-new-footer__link-item"><a href="#">Careers</a></li>
                    <li class="cmp-new-footer__link-item"><a href="#">Investors</a></li>
                </ul>
            </div>
            <div class="cmp-new-footer__top-section-items">
                <h2 class="cmp-new-footer__title">CONTACT US</h2>
                <ul class="cmp-new-footer__link-section two-section">
                    <li class="cmp-new-footer__link-item"><a href="#">General inquiry</a></li>
                    <li class="cmp-new-footer__link-item"><a href="#">Realtors</a></li>
                    <li class="cmp-new-footer__link-item"><a href="#">Land Submission</a></li>
                    <li class="cmp-new-footer__link-item"><a href="#">Trade Partners</a></li>
                    <li class="cmp-new-footer__link-item"><a href="#">Media</a></li>
                    <li class="cmp-new-footer__link-item"><a href="#">Warranty Claim</a></li>
                    <li class="cmp-new-footer__link-item"><a href="#">Our Offices</a></li>
                </ul>
            </div>
        </div>
        <div class="cmp-new-footer__buttom-section">
            <div class="cmp-new-footer__buttom-start-section">
                <div class="cmp-new-footer__buttom-start-section-items">
                    <a class="cmp-new-footer__logo-container" href=""><img class="cmp-new-footer__logo" src="../../images/logo_century-communities.svg" alt=""></a>
                    <div class="cmp-new-footer__social-items">
                        <a href="#"><img class="cmp-new-footer__social-item" src="../../images/in.svg" alt=""></a>
                        <a href="#"><img class="cmp-new-footer__social-item" src="../../images/fb.svg" alt=""></a>
                        <a href="#"><img class="cmp-new-footer__social-item" src="../../images/pin.svg" alt=""></a>
                        <a href="#"><img class="cmp-new-footer__social-item" src="../../images/instagram.svg" alt=""></a>
                    </div>
                </div>
                <div class="cmp-new-footer__buttom-start-section-items">
                        <a class="cmp-new-footer__logo-container" href="#"><img class="cmp-new-footer__logo" src="../../images/logo_century-complete.svg" alt=""/></a>

                        <!-- <img class="cmp-new-footer__logo" src="../../images/logo_century-complete.svg" alt=""/> -->
                    <div class="cmp-new-footer__social-items">
                        <a href="#"><img class="cmp-new-footer__social-item" src="../../images/in.svg" alt=""></a>
                        <a href="#"><img class="cmp-new-footer__social-item" src="../../images/fb.svg" alt=""></a>
                        <a href="#"><img class="cmp-new-footer__social-item" src="../../images/pin.svg" alt=""></a>
                        <a href="#"><img class="cmp-new-footer__social-item" src="../../images/instagram.svg" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="cmp-new-footer__buttom-end-section">
                <div class="cmp-new-footer__buttom-end-section-item">
                    <ul class="cmp-new-footer__link-section">
                        <li class="cmp-new-footer__link-item"><a href="#">Privacy Policy</a></li>
                        <li class="cmp-new-footer__link-item"><a href="#">Terms Of Use</a></li>
                        <li class="cmp-new-footer__link-item"><a href="#">Exercise My Rights</a></li>
                        <li class="cmp-new-footer__link-item"><a href="#">Investors</a></li>
                    </ul>
                </div>
    
                <div class="cmp-new-footer__buttom-end-section-item">
                    © 2020 CENtury Communities, ALL Rights RESErved.
                </div>
    
            </div>
        </div>
    </div>
</div>