<main class="card-container">
  <div class="heading">
    <h1>Lorem ipsum dolor sit amet.</h1>
  </div>
  <div class="cards">
    <article class="card">
      <img
        src="https://images.unsplash.com/photo-1719179513227-15758bc779ed?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90b3MtZmVlZHwzfHx8ZW58MHx8fHx8"
        alt="Sample photo"
      />
      <div class="text">
        <h3>Seamlessly visualize quality</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt aliquid
          dolore dolores dignissimos.
        </p>
        <button>Here's why</button>
      </div>
    </article>
    <article class="card">
      <img
        src="https://images.unsplash.com/photo-1519389950473-47ba0277781c?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8dGVjaHxlbnwwfHwwfHx8MA%3D%3D"
        alt="Sample photo"
      />
      <div class="text">
        <h3>Completely Synergize</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt aliquid
          dolore dolores dignissimos.
        </p>
        <button>Here's how</button>
      </div>
    </article>
    <article class="card">
      <img
        src="https://images.unsplash.com/photo-1597733336794-12d05021d510?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fHRlY2h8ZW58MHx8MHx8fDA%3D"
        alt="Sample photo"
      />
      <div class="text">
        <h3>Dynamically Procrastinate</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt aliquid
          dolore dolores dignissimos.
        </p>
        <button>Read more</button>
      </div>
    </article>
    <article class="card">
      <img
        src="https://images.unsplash.com/photo-1550751827-4bd374c3f58b?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fHRlY2h8ZW58MHx8MHx8fDA%3D"
        alt="Sample photo"
      />
      <div class="text">
        <h3>Best in class</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt aliquid
          dolore dolores dignissimos.
        </p>
        <button>Just do it...</button>
      </div>
    </article>
    <article class="card">
      <img
        src="https://images.unsplash.com/photo-1530893609608-32a9af3aa95c?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fHRlY2h8ZW58MHx8MHx8fDA%3D"
        alt="Sample photo"
      />
      <div class="text">
        <h3>Dynamically innovate supply chains</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt aliquid
          dolore dolores dignissimos.
        </p>
        <button>Here's why</button>
      </div>
    </article>
  </div>
</main>
