<section class="cmp-teaser-with-bg" >
    <div class="cmp-teaser-with-bg-wrapper" >
        <div class="cmp-teaser-with-bg-wrapper__text" >
            <h2 class="cmp-teaser-with-bg-wrapper__text-title" >Your future <br> is limitless.</h2>
            <p class="cmp-teaser-with-bg-wrapper__text-description" > 
                Part of the new brand story goes here aenean eu leo quam.
                Pellentesque ornare sem lacinia quam venenatis vestibulim.
            </p>
            <button class="cmp-teaser-with-bg-wrapper__text-btn" >Get Started</button>
        </div>
        <div class="cmp-teaser-with-bg-wrapper__bg-image">
            <img src="../../images/limit-less-image-logo.jpg" alt="BG Image">
        </div>
    </div>
</section>