<div class="list-card-wrapper">
    <h3>Components</h3>
    <div class="list card-with-arrow">
        <ul id="list-c4be94eba2" class="cmp-list">
            <li class="cmp-list__item">
                <span class="cmp-list__item-title">Adaptive Form - Embed</span><span class="arrow-right"></span>
            </li>
            <li class="cmp-list__item">
                <span class="cmp-list__item-title">Accordion</span><span class="arrow-right"></span>
            </li>
            <li class="cmp-list__item">
                <span class="cmp-list__item-title">Button</span><span class="arrow-right"></span>
            </li>
            <li class="cmp-list__item">
                <span class="cmp-list__item-title">Carousel</span><span class="arrow-right"></span>
            </li>
            <li class="cmp-list__item">
                <span class="cmp-list__item-title">Container</span><span class="arrow-right"></span>
            </li>
            <li class="cmp-list__item">
                <span class="cmp-list__item-title">Content Fragment</span><span class="arrow-right"></span>
            </li>
            <li class="cmp-list__item">
                <span class="cmp-list__item-title">Content Fragment List</span><span class="arrow-right"></span>
            </li>
            <li class="cmp-list__item">
                <span class="cmp-list__item-title">Core Form Container</span><span class="arrow-right"></span>
            </li>
            <li class="cmp-list__item">
                <span class="cmp-list__item-title">Download</span><span class="arrow-right"></span>
            </li>
            <li class="cmp-list__item">
                <span class="cmp-list__item-title">Embed</span><span class="arrow-right"></span>
            </li>
            <li class="cmp-list__item">
                <span class="cmp-list__item-title">Experience Fragment</span><span class="arrow-right"></span>
            </li>
            <li class="cmp-list__item">
                <span class="cmp-list__item-title">Image</span><span class="arrow-right"></span>
            </li>
            <li class="cmp-list__item">
                <span class="cmp-list__item-title">List</span><span class="arrow-right"></span>
            </li>
            <li class="cmp-list__item">
                <span class="cmp-list__item-title">PDF Viewer</span><span class="arrow-right"></span>
            </li>
            <li class="cmp-list__item">
                <span class="cmp-list__item-title">Progress Bar</span><span class="arrow-right"></span>
            </li>
            <li class="cmp-list__item">
                <span class="cmp-list__item-title">Search</span><span class="arrow-right"></span>
            </li>
            <li class="cmp-list__item">
                <span class="cmp-list__item-title">Separator</span><span class="arrow-right"></span>
            </li>
            <li class="cmp-list__item">
                <span class="cmp-list__item-title">Tabs</span><span class="arrow-right"></span>
            </li>
            <li class="cmp-list__item">
                <span class="cmp-list__item-title">Teaser</span><span class="arrow-right"></span>
            </li>
            <li class="cmp-list__item">
                <span class="cmp-list__item-title">Text</span><span class="arrow-right"></span>
            </li>
            <li class="cmp-list__item">
                <span class="cmp-list__item-title">Title</span><span class="arrow-right"></span>
            </li>
        </ul>
    </div>
</div>