<div class="cmp-masonry-layout">
    <div class="cmp-masonry-layout__content">
        <!-- card 1 -->
        <div class="cmp-masonry-layout__card">
            <div class="cmp-masonry-layout__card__image-wrapper">
                <img class="cmp-masonry-layout__card-image" src="../../images/heartmates.jpg" alt="card" />
            </div>
            <div class="cmp-masonry-layout__card__details">
                <q class="cmp-masonry-layout__card__details-quote">We LOVE our new century home - and our new community.
                    Everyone has
                    been so welcoming.</q>
                <p class="cmp-masonry-layout__card__details-author-details">
                    <span class="cmp-masonry-layout__card__details-author-name">The Suarez-Pittman Family</span>
                    <span class="cmp-masonry-layout__card__details-city">newport beach, CS</span>
                </p>
            </div>
        </div>
        <!-- card 2 -->
        <div class="cmp-masonry-layout__card">
            <div class="cmp-masonry-layout__card__details">
                <q class="cmp-masonry-layout__card__details-quote">We LOVE our new century home - and our new community.
                    Everyone has
                    been so welcoming.we LOVE our new century home - and our new
                    community. Everyone has been so welcoming.</q>
                <p class="cmp-masonry-layout__card__details-author-details">
                    <span class="cmp-masonry-layout__card__details-author-name">The Suarez-Pittman Family</span>
                    <span class="cmp-masonry-layout__card__details-city">newport beach, CS</span>
                </p>
            </div>
        </div>
        <!-- card 3 -->
        <div class="cmp-masonry-layout__card">
            <div class="cmp-masonry-layout__card__details">
                <q class="cmp-masonry-layout__card__details-quote">We LOVE our new century home - and our new community.
                    Everyone has
                    been so welcoming.we LOVE our new century home - and our new
                    community. Everyone has been so welcoming.we LOVE our new century home
                    - and our new community. Everyone has been so welcoming.we LOVE our
                    new century home - and our new community.</q>
                <p class="cmp-masonry-layout__card__details-author-details">
                    <span class="cmp-masonry-layout__card__details-author-name">The Suarez-Pittman Family</span>
                    <span class="cmp-masonry-layout__card__details-city">newport beach, CS</span>
                </p>
            </div>
        </div>
        <!-- card 4 -->
        <div class="cmp-masonry-layout__card">
            <div class="cmp-masonry-layout__card__details">
                <q class="cmp-masonry-layout__card__details-quote">We LOVE our new century home - and our new community.
                    Everyone has
                    been so welcoming.we LOVE our new century home - and our new
                    community. Everyone has been so welcoming.</q>
                <p class="cmp-masonry-layout__card__details-author-details">
                    <span class="cmp-masonry-layout__card__details-author-name">The Suarez-Pittman Family</span>
                    <span class="cmp-masonry-layout__card__details-city">newport beach, CS</span>
                </p>
            </div>
        </div>
        <!-- card 5 -->
        <div class="cmp-masonry-layout__card">
            <div class="cmp-masonry-layout__card__details">
                <q class="cmp-masonry-layout__card__details-quote">We LOVE our new century home - and our new community.
                    Everyone has
                    been so welcoming.we LOVE our new century home - and our new
                    community. Everyone has been so welcoming.we LOVE our new century home
                    - and our new community. Everyone has been so welcoming.we LOVE our
                    new century home - and our new community.</q>
                <p class="cmp-masonry-layout__card__details-author-details">
                    <span class="cmp-masonry-layout__card__details-author-name">The Suarez-Pittman Family</span>
                    <span class="cmp-masonry-layout__card__details-city">newport beach, CS</span>
                </p>
            </div>
        </div>
        <!-- card 6 -->
        <div class="cmp-masonry-layout__card">
            <div class="cmp-masonry-layout__card__image-wrapper">
                <img class="cmp-masonry-layout__card-image" src="../../images/heartmates.jpg" alt="card" />
            </div>
            <div class="cmp-masonry-layout__card__details">
                <q class="cmp-masonry-layout__card__details-quote">We LOVE our new century home - and our new community.
                    Everyone has
                    been so welcoming.we LOVE our new century home - and our new
                    community. Everyone has been so welcoming.</q>
                <p class="cmp-masonry-layout__card__details-author-details">
                    <span class="cmp-masonry-layout__card__details-author-name">The Suarez-Pittman Family</span>
                    <span class="cmp-masonry-layout__card__details-city">newport beach, CS</span>
                </p>
            </div>
        </div>
        <!-- card 7 -->
        <div class="cmp-masonry-layout__card">
            <div class="cmp-masonry-layout__card__image-wrapper">
                <img class="cmp-masonry-layout__card-image" src="../../images/heartmates.jpg" alt="card" />
            </div>
            <div class="cmp-masonry-layout__card__details">
                <q class="cmp-masonry-layout__card__details-quote">We LOVE our new century home - and our new community.
                    Everyone has
                    been so welcoming.</q>
                <p class="cmp-masonry-layout__card__details-author-details">
                    <span class="cmp-masonry-layout__card__details-author-name">The Suarez-Pittman Family</span>
                    <span class="cmp-masonry-layout__card__details-city">newport beach, CS</span>
                </p>
            </div>
        </div>
        <!-- card 8 -->
        <div class="cmp-masonry-layout__card">
            <div class="cmp-masonry-layout__card__image-wrapper">
                <img class="cmp-masonry-layout__card-image" src="../../images/heartmates.jpg" alt="card" />
            </div>
            <div class="cmp-masonry-layout__card__details">
                <q class="cmp-masonry-layout__card__details-quote">we LOVE our new century home - and our new community.
                    Everyone has
                    been so welcoming.</q>
                <p class="cmp-masonry-layout__card__details-author-details">
                    <span class="cmp-masonry-layout__card__details-author-name">The Suarez-Pittman Family</span>
                    <span class="cmp-masonry-layout__card__details-city">newport beach, CS</span>
                </p>
            </div>
        </div>
        <!-- card 9 -->
        <div class="cmp-masonry-layout__card">
            <div class="cmp-masonry-layout__card__details">
                <q class="cmp-masonry-layout__card__details-quote">We LOVE our new century home - and our new community.
                    Everyone has
                    been so welcoming.we LOVE our new century home - and our new
                    community. Everyone has been so welcoming.we LOVE our new century home
                    - and our new community. Everyone has been so welcoming.</q>
                <p class="cmp-masonry-layout__card__details-author-details">
                    <span class="cmp-masonry-layout__card__details-author-name">The Suarez-Pittman Family</span>
                    <span class="cmp-masonry-layout__card__details-city">newport beach, CS</span>
                </p>
            </div>
        </div>
    </div>
</div>

<!--/* Masonry Layout Variation */-->
<div class="cmp-masonry-layout blue-border-theme">
    <div class="cmp-masonry-layout__content">
        <!-- card 1 -->
        <div class="cmp-masonry-layout__card">
            <div class="cmp-masonry-layout__card__details">
                <q class="cmp-masonry-layout__card__details-quote">We LOVE our new century home - and our new community.
                    Everyone has
                    been so welcoming.</q>
                <p class="cmp-masonry-layout__card__details-author-details">
                    <span class="cmp-masonry-layout__card__details-author-name">The Suarez-Pittman Family</span>
                    <span class="cmp-masonry-layout__card__details-city">newport beach, CS</span>
                </p>
            </div>
        </div>
        <!-- card 2 -->
        <div class="cmp-masonry-layout__card">
            <div class="cmp-masonry-layout__card__image-wrapper">
                <img class="cmp-masonry-layout__card-image" src="../../images/heartmates.jpg" alt="card" />
            </div>
            <div class="cmp-masonry-layout__card__details">
                <q class="cmp-masonry-layout__card__details-quote">We LOVE our new century home - and our new community.
                    Everyone has
                    been so welcoming.we LOVE our new century home - and our new
                    community. Everyone has been so welcoming.</q>
                <p class="cmp-masonry-layout__card__details-author-details">
                    <span class="cmp-masonry-layout__card__details-author-name">The Suarez-Pittman Family</span>
                    <span class="cmp-masonry-layout__card__details-city">newport beach, CS</span>
                </p>
            </div>
        </div>
        <!-- card 3 -->
        <div class="cmp-masonry-layout__card">
            <div class="cmp-masonry-layout__card__details">
                <q class="cmp-masonry-layout__card__details-quote">We LOVE our new century home - and our new community.
                    Everyone has
                    been so welcoming.we LOVE our new century home - and our new
                    community. Everyone has been so welcoming.we LOVE our new century home
                    - and our new community. Everyone has been so welcoming.we LOVE our
                    new century home - and our new community.</q>
                <p class="cmp-masonry-layout__card__details-author-details">
                    <span class="cmp-masonry-layout__card__details-author-name">The Suarez-Pittman Family</span>
                    <span class="cmp-masonry-layout__card__details-city">newport beach, CS</span>
                </p>
            </div>
        </div>
        <!-- card 4 -->
        <div class="cmp-masonry-layout__card">
            <div class="cmp-masonry-layout__card__details">
                <q class="cmp-masonry-layout__card__details-quote">We LOVE our new century home - and our new community.
                    Everyone has
                    been so welcoming.we LOVE our new century home - and our new
                    community. Everyone has been so welcoming.</q>
                <p class="cmp-masonry-layout__card__details-author-details">
                    <span class="cmp-masonry-layout__card__details-author-name">The Suarez-Pittman Family</span>
                    <span class="cmp-masonry-layout__card__details-city">newport beach, CS</span>
                </p>
            </div>
        </div>
        <!-- card 5 -->
        <div class="cmp-masonry-layout__card">
            <div class="cmp-masonry-layout__card__details">
                <q class="cmp-masonry-layout__card__details-quote">We LOVE our new century home - and our new community.
                    Everyone has
                    been so welcoming.we LOVE our new century home - and our new
                    community. Everyone has been so welcoming.we LOVE our new century home
                    - and our new community.</q>
                <p class="cmp-masonry-layout__card__details-author-details">
                    <span class="cmp-masonry-layout__card__details-author-name">The Suarez-Pittman Family</span>
                    <span class="cmp-masonry-layout__card__details-city">newport beach, CS</span>
                </p>
            </div>
        </div>
        <!-- card 6 -->
        <div class="cmp-masonry-layout__card">
            <div class="cmp-masonry-layout__card__image-wrapper">
                <img class="cmp-masonry-layout__card-image" src="../../images/heartmates.jpg" alt="card" />
            </div>
            <div class="cmp-masonry-layout__card__details">
                <q class="cmp-masonry-layout__card__details-quote">We LOVE our new century home - and our new community.
                    Everyone has
                    been so welcoming.we LOVE our new century home - and our new
                    community. Everyone has been so welcoming.</q>
                <p class="cmp-masonry-layout__card__details-author-details">
                    <span class="cmp-masonry-layout__card__details-author-name">The Suarez-Pittman Family</span>
                    <span class="cmp-masonry-layout__card__details-city">newport beach, CS</span>
                </p>
            </div>
        </div>
        <!-- card 7 -->
        <div class="cmp-masonry-layout__card">
            <div class="cmp-masonry-layout__card__details">
                <q class="cmp-masonry-layout__card__details-quote">We LOVE our new century home - and our new community.
                    Everyone has
                    been so welcoming.</q>
                <p class="cmp-masonry-layout__card__details-author-details">
                    <span class="cmp-masonry-layout__card__details-author-name">The Suarez-Pittman Family</span>
                    <span class="cmp-masonry-layout__card__details-city">newport beach, CS</span>
                </p>
            </div>
        </div>
        <!-- card 8 -->
        <div class="cmp-masonry-layout__card">
            <div class="cmp-masonry-layout__card__image-wrapper">
                <img class="cmp-masonry-layout__card-image" src="../../images/heartmates.jpg" alt="card" />
            </div>
            <div class="cmp-masonry-layout__card__details">
                <q class="cmp-masonry-layout__card__details-quote">We LOVE our new century home - and our new community.
                    Everyone has
                    been so welcoming.</q>
                <p class="cmp-masonry-layout__card__details-author-details">
                    <span class="cmp-masonry-layout__card__details-author-name">The Suarez-Pittman Family</span>
                    <span class="cmp-masonry-layout__card__details-city">newport beach, CS</span>
                </p>
            </div>
        </div>
        <!-- card 9 -->
        <div class="cmp-masonry-layout__card">
            <div class="cmp-masonry-layout__card__details">
                <q class="cmp-masonry-layout__card__details-quote">We LOVE our new century home - and our new community.
                    Everyone has
                    been so welcoming.we LOVE our new century home - and our new
                    community. Everyone has been so welcoming.we LOVE our new century home
                    - and our new community. Everyone has been so welcoming.</q>
                <p class="cmp-masonry-layout__card__details-author-details">
                    <span class="cmp-masonry-layout__card__details-author-name">The Suarez-Pittman Family</span>
                    <span class="cmp-masonry-layout__card__details-city">newport beach, CS</span>
                </p>
            </div>
        </div>
        <!-- card 10 -->
        <div class="cmp-masonry-layout__card">
            <div class="cmp-masonry-layout__card__details">
                <q class="cmp-masonry-layout__card__details-quote">We LOVE our new century home - and our new community.
                    Everyone has
                    been so welcoming.we LOVE our new century home - and our new
                    community. Everyone has been so welcoming.we LOVE our new century home
                    - and our new community. Everyone has been so welcoming.</q>
                <p class="cmp-masonry-layout__card__details-author-details">
                    <span class="cmp-masonry-layout__card__details-author-name">The Suarez-Pittman Family</span>
                    <span class="cmp-masonry-layout__card__details-city">newport beach, CS</span>
                </p>
            </div>
        </div>
    </div>
</div>