<div class="project-leads-component">
  <div class="container">
    <h2 class="title">Project Leads</h2>
    <div class="experts" data-visible-count="5">
      <div class="expert">
        <div class="expert-details">
          <img
            src="../../images/avtar.png"
            alt="Adil Mouiddin"
            class="expert-image"
          />
          <h3 class="expert-name">Adil Mouiddin</h3>
          <p class="expert-post">Senior Vice President & president</p>
          <p class="expert-designation">Principal Investigator</p>
        </div>
      </div>
      <div class="expert">
        <div class="expert-details">
          <img
            src="../../images/avtar.png"
            alt="Adil Mouiddin"
            class="expert-image"
          />
          <h3 class="expert-name">Adil Mouiddin</h3>
          <p class="expert-post">Senior Vice President</p>
          <p class="expert-designation">Principal Investigator</p>
        </div>
      </div>
      <div class="expert">
        <div class="expert-details">
          <img
            src="../../images/avtar.png"
            alt="Adil Mouiddin"
            class="expert-image"
          />
          <h3 class="expert-name">Adil Mouiddin</h3>
          <p class="expert-post">Senior Vice President</p>
          <p class="expert-designation">Principal Investigator</p>
        </div>
      </div>
      <div class="expert">
        <div class="expert-details">
          <img
            src="../../images/avtar.png"
            alt="Adil Mouiddin"
            class="expert-image"
          />
          <h3 class="expert-name">Adil Mouiddin</h3>
          <p class="expert-post">Senior Vice President</p>
          <p class="expert-designation">Principal Investigator</p>
        </div>
      </div>
      <div class="expert">
        <div class="expert-details">
          <img
            src="../../images/avtar.png"
            alt="Adil Mouiddin"
            class="expert-image"
          />
          <h3 class="expert-name">Adil Mouiddin</h3>
          <p class="expert-post">Senior Vice President</p>
          <p class="expert-designation">Principal Investigator</p>
        </div>
      </div>
      <div class="expert">
        <div class="expert-details">
          <img
            src="../../images/avtar.png"
            alt="Adil Mouiddin"
            class="expert-image"
          />
          <h3 class="expert-name">Deepesh</h3>
          <p class="expert-post">Senior Vice President</p>
          <p class="expert-designation">Principal Investigator</p>
        </div>
      </div>
      <div class="expert">
        <div class="expert-details">
          <img
            src="../../images/avtar.png"
            alt="Adil Mouiddin"
            class="expert-image"
          />
          <h3 class="expert-name">Deepesh</h3>
          <p class="expert-post">Senior Vice President</p>
          <p class="expert-designation">Principal Investigator</p>
        </div>
      </div>
      <div class="expert">
        <div class="expert-details">
          <img
            src="../../images/avtar.png"
            alt="Adil Mouiddin"
            class="expert-image"
          />
          <h3 class="expert-name">Deepesh</h3>
          <p class="expert-post">Senior Vice President</p>
          <p class="expert-designation">Principal Investigator</p>
        </div>
      </div>
      <div class="expert">
        <div class="expert-details">
          <img
            src="../../images/avtar.png"
            alt="Adil Mouiddin"
            class="expert-image"
          />
          <h3 class="expert-name">Deepesh</h3>
          <p class="expert-post">Senior Vice President</p>
          <p class="expert-designation">Principal Investigator</p>
        </div>
      </div>
      <div class="expert">
        <div class="expert-details">
          <img
            src="../../images/avtar.png"
            alt="Adil Mouiddin"
            class="expert-image"
          />
          <h3 class="expert-name">Deepesh</h3>
          <p class="expert-post">Senior Vice President</p>
          <p class="expert-designation">Principal Investigator</p>
        </div>
      </div>
    </div>
    <button class="show-more-button">Show 5 More Experts +</button>
  </div>
</div>
