<div class="project-leads-component">
  <h2>Project Leads</h2>
  <div class="experts">
    <div class="expert">
      <div class="expert-details">
        <img
          src="../../images/avtar.png"
          alt="Adil Mouiddin"
          class="expert-image"
        />
        <h3 class="expert-name">Adil Mouiddin</h3>
        <p class="expert-post">Senior Vice President & president</p>
        <p class="expert-designation">Principal Investigator</p>
      </div>
    </div>
    <div class="expert">
      <div class="expert-details">
        <img
          src="../../images/avtar.png"
          alt="Adil Mouiddin"
          class="expert-image"
        />
        <h3 class="expert-name">Adil Mouiddin</h3>
        <p class="expert-post">Senior Vice President</p>
        <p class="expert-designation">Principal Investigator</p>
      </div>
    </div>
    <div class="expert">
      <div class="expert-details">
        <img
          src="../../images/avtar.png"
          alt="Adil Mouiddin"
          class="expert-image"
        />
        <h3 class="expert-name">Adil Mouiddin</h3>
        <p class="expert-post">Senior Vice President</p>
        <p class="expert-designation">Principal Investigator</p>
      </div>
    </div>
    <div class="expert">
      <div class="expert-details">
        <img
          src="../../images/avtar.png"
          alt="Adil Mouiddin"
          class="expert-image"
        />
        <h3 class="expert-name">Adil Mouiddin</h3>
        <p class="expert-post">Senior Vice President</p>
        <p class="expert-designation">Principal Investigator</p>
      </div>
    </div>
    <div class="expert">
      <div class="expert-details">
        <img
          src="../../images/avtar.png"
          alt="Adil Mouiddin"
          class="expert-image"
        />
        <h3 class="expert-name">Adil Mouiddin</h3>
        <p class="expert-post">Senior Vice President</p>
        <p class="expert-designation">Principal Investigator</p>
      </div>
    </div>
    <div class="expert">
      <div class="expert-details">
        <img
          src="../../images/avtar.png"
          alt="Adil Mouiddin"
          class="expert-image"
        />
        <h3 class="expert-name">Deepesh</h3>
        <p class="expert-post">Senior Vice President</p>
        <p class="expert-designation">Principal Investigator</p>
      </div>
    </div>
    <div class="expert">
      <div class="expert-details">
        <img
          src="../../images/avtar.png"
          alt="Adil Mouiddin"
          class="expert-image"
        />
        <h3 class="expert-name">Deepesh</h3>
        <p class="expert-post">Senior Vice President</p>
        <p class="expert-designation">Principal Investigator</p>
      </div>
    </div>
    <div class="expert">
      <div class="expert-details">
        <img
          src="../../images/avtar.png"
          alt="Adil Mouiddin"
          class="expert-image"
        />
        <h3 class="expert-name">Deepesh</h3>
        <p class="expert-post">Senior Vice President</p>
        <p class="expert-designation">Principal Investigator</p>
      </div>
    </div>
    <div class="expert">
      <div class="expert-details">
        <img
          src="../../images/avtar.png"
          alt="Adil Mouiddin"
          class="expert-image"
        />
        <h3 class="expert-name">Deepesh</h3>
        <p class="expert-post">Senior Vice President</p>
        <p class="expert-designation">Principal Investigator</p>
      </div>
    </div>
    <div class="expert">
      <div class="expert-details">
        <img
          src="../../images/avtar.png"
          alt="Adil Mouiddin"
          class="expert-image"
        />
        <h3 class="expert-name">Deepesh</h3>
        <p class="expert-post">Senior Vice President</p>
        <p class="expert-designation">Principal Investigator</p>
      </div>
    </div>
  </div>
  <button class="show-more-button">Show 5 More Experts +</button>
</div>
