
 <!-- <section>   → group of cards -->
<section class="card-container">
  <!-- <article> → single, independent item -->
<article class="feature-card">
<img src="../../images/Network-Solutions.jpg" alt="Network Solutions">
<h3 class="feature-title">Network Solutions</h3>
<p class="feature-text">

        Cabling systems and design services that prepare you for future growth and upgrades.
</p>
</article>
 
    <article class="feature-card">
<img src="../../images/EV-charging-you-can-trust.jpg" alt="EV Charging">
<h3 class="feature-title">EV Charging you Can Trust</h3>
<p class="feature-text">

        Complete electric vehicle charging solutions with certified installer support.
</p>
</article>
 
    <article class="feature-card">
<img src="../../images/Home-Solutions.jpg" alt="Home Solutions">
<h3 class="feature-title">Home Solutions</h3>
<p class="feature-text">

        Smarter, safer and more convenient solutions for modern homes.
</p>
</article>
 
  </section>


 