.cmp-card-grid {
    padding: 20px;

    &__heading {
        text-align: center;
        padding: 20px;

        &-text {
            padding: 4px 52px;
            display: inline-block;
            border: 1px solid;
            border-radius: 16px 0 16px 0;
            position: relative;

            &::before,
            &::after {
                border: 1px solid;
                content: "";
                width: 35px;
                position: absolute;
                height: 1px;
                top: 50%;
            }

            &::before {
                left: -35px;
            }

            &::after {
                right: -35px;
            }

            @include min-screen(sm) {

                &::before,
                &::after {
                    width: 160px;
                }

                &::before {
                    left: -160px;
                }

                &::after {
                    right: -160px;
                }
            }
        }
    }

    &__cards-wrapper {
        display: flex;
        flex-direction: column;

        @include min-screen(sm) {
            flex-direction: row;
            justify-content: space-around;
        }

        @include min-screen(lg) {
            margin: 10px 100px;
        }

        @include min-screen(xl) {
            margin: 10px 160px;
        }
    }

    &__card {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        border-bottom: 1px solid var(--warm-grey);
        padding: 20px 10px;

        @include min-screen(sm) {
            width: 32%;
            flex-direction: column;
            border: none;
        }

        &-image {
            width: 40%;

            @include min-screen(sm) {
                width: 100%;
            }

            img {
                height: 100%;
                width: 100%;
            }
        }

        &-details {
            width: 60%;

            @include min-screen(sm) {
                padding: 12px;
                width: 100%;
            }

            &--title {
                font-size: 16px;
                text-transform: uppercase;
                padding-right: 10px;
                text-decoration: none;
                color: var(--darkestgrey);
                font-weight: 600;

                @include min-screen(sm) {
                    padding: 0;
                }

                &[target="_blank"] {
                    &::after {
                        content: "\2197";
                    }
                }
            }

            &--description {
                font-size: 16px;
                font-family: $bodoni;
                display: none;

                @include min-screen(sm) {
                    display: block;
                }
            }
        }
    }
}