.header {

    &_wrapper {
        background-color: $black;
        color: $white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: toRem(10) 8%;
        flex-wrap: wrap;


        .burger {
            display: none;

            @include max-screen(lg) {
                display: block;
                font-size: toRem(35);
                background-color: black;
                color: white;
                border: none;
            }
        }

        &_logo {
            display: flex;
            align-items: center;
            gap: toRem(15);

            .site-logo {
                display: flex;
                gap: toRem(10);
                cursor: pointer;
            }
            
            &-image {
                width: toRem(40);
                height: toRem(40);
                object-fit: cover;
            }

            &-title {
                font-size: toRem(13);
            }
        }

        &_menu {
            flex: 1;
            margin-inline-start: 6%;

            @include max-screen(lg) {
                display: none;
            }

            &.is-active {
                    display: block;
                    z-index: 999;
                    padding-block-start: toRem(10);
                    width: 100%;
                    position: absolute;
                    background: black;
                    top: 0;
                    left: 0;
                    right: 0;
                    margin: 0;
                    opacity: 0.9;
                    overflow: hidden;
                    transition: 0.5s ease;
            }

            .close-icon {
                display: none;
                
                @include max-screen(lg) {
                    display: block;
                    color: white;
                    position: absolute;
                    left: toRem(15);
                    top: toRem(10);
                    z-index: 999;
                    font-size: toRem(25);
                }
            }

            &-ul {
                display: flex;
                gap: toRem(15);
                margin-inline-start: 5%;

                a {
                    text-decoration: none;
                    color: $white;
                }

                @include max-screen(lg) {
                    justify-content: center;
                    gap: 5%;
                    flex-direction: column;
                }
            }

            &-ul-items {
                text-align: center;
                opacity: 0.7;

                @include max-screen(lg) {
                    text-align: right;
                    padding-block-end: toRem(10);
                    padding-inline-end: toRem(30);
                }

                &:hover {
                    cursor: pointer;
                    opacity: 1;
                    transition: 0.5s;
                }
            }
        }

        &_btn {
            font-weight: 600;
            padding: toRem(5) toRem(15);
            border: 1px solid $darkgray;
            border-radius: toRem(10);
            background-color: $burlywood;

            &:hover {
                box-shadow: 1.5px 2px 2px $dark-red;
                color: $dark-red;
            }
        }
    }
}
