.header {

    &_wrapper {
        background-color: $black;
        color: $white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 8%;
        flex-wrap: wrap;


        .burger {
            display: none;

            @include max-screen(lg) {
                display: block;
                font-size: 35px;
                background-color: black;
                color: white;
                border: none;
            }
        }

        &_logo {
            display: flex;
            align-items: center;
            gap: 15px;

            .site-logo {
                display: flex;
                gap: 10px;
                cursor: pointer;
            }
            
            &-image {
                width: 40px;
                height: 40px;
                object-fit: cover;
            }

            &-title {
                font-size: 13px;
            }
        }

        &_menu {
            flex: 1;
            margin-left: 6%;

            @include max-screen(lg) {
                display: none;
            }

            &.is-active {
                    display: block;
                    z-index: 999;
                    padding-top: 10px;
                    width: 100%;
                    position: absolute;
                    background: black;
                    top: 0;
                    left: 0;
                    right: 0;
                    margin: 0;
                    opacity: 0.9;
                    overflow: hidden;
                    transition: 0.5s ease;
            }

            .close-icon {
                display: none;
                
                @include max-screen(lg) {
                    display: block;
                    color: white;
                    position: absolute;
                    left: 15px;
                    top: 10px;
                    z-index: 999;
                    font-size: 25px;
                }
            }

            &-ul {
                display: flex;
                gap: 15px;
                margin-left: 5%;

                a {
                    text-decoration: none;
                    color: $white;
                }

                @include max-screen(lg) {
                    justify-content: center;
                    gap: 5%;
                    flex-direction: column;
                }
            }

            &-ul-items {
                text-align: center;
                opacity: 0.7;

                @include max-screen(lg) {
                    text-align: right;
                    padding-bottom: 10px;
                    padding-right: 30px;
                }

                &:hover {
                    cursor: pointer;
                    opacity: 1;
                    transition: 0.5s;
                }
            }
        }

        &_btn {
            font-weight: 600;
            padding: 5px 15px;
            border: 1px solid $darkgray;
            border-radius: 10px;
            background-color: $burlywood;

            &:hover {
                box-shadow: 1.5px 2px 2px $dark-red;
                color: $dark-red;
            }
        }
    }
}
