.cmp-hero-banner {
    background-color: var(--hero-banner-bg-color);
    position: relative;
    z-index: 0;

    &-wrapper {

        @include min-screen(lg) {
            display: flex;
            justify-content: space-between;
            padding: 0 10%;
        }

        &__text {
            padding: toRem(80) toRem(30);
            text-align: center;

            @include min-screen(lg) {
                width: 40%;
                text-align: left;
            }

            &-logo {
                margin-block-end: toRem(20);

                img {
                    aspect-ratio: 6/2;
                    width: 50%;
                    height: auto;
                    object-fit: cover;
                    margin: 0 auto;

                    @include min-screen(md) {
                        width: 35%;
                    }

                    @include min-screen(lg) {
                        width: 40%;
                        margin: 0;
                    }

                    @include min-screen(xl) {
                        width: 40%;
                    }
                }
            }

            &-description {
                color: var(--hero-banner-text-color);
                margin-block-end: toRem(40);
            }

            &-button {
                @include hero-banner-button(var(--white),var(--black));

                i{
                    margin-inline-start: toRem(10);
                }
            }
        }

        &__right {
            display: none;

            @include min-screen(lg) {
                display: block;
                width: 40%;
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                z-index: -1;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &.dark-theme {
        --hero-banner-bg-color: var(--dark-blue);
        --hero-banner-text-color: var(--white);

        .cmp-hero-banner-wrapper__text-button {
            @include hero-banner-button(var(--black),var(--white));
        }
    }
}