.list-card-wrapper {
  max-width: 1440px;
  margin-inline: auto;
  padding: toRem(10);
  position: relative;

  &>h3 {
    position: relative;
    padding-block: toRem(10);
    color: var(--black);

    &::after {
      content: "";
      position: absolute;
      inset-inline-start: 0;
      inset-block-end: 0;
      background-color: var(--warm-grey);
      height: toRem(2);
      width: 100%;
    }
  }

  .list.card-with-arrow {
    &>ul {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: toRem(10);
      padding-block: toRem(20);

      @include min-screen(md) {
        grid-template-columns: 1fr 1fr;
      }

      @include min-screen(lg) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: toRem(20);
      }

      &>li.cmp-list__item {
        position: relative;
        background-color: var(--warm-grey);
        text-align: center;
        padding: toRem(20) 0;
        font-size: toRem(16);
        color: var(--dark-blue);

        .arrow-right {
          position: absolute;
          inset-block-end: toRem(10);
          inset-inline-end: toRem(10);

          &::after {
            content: "";
            display: inline-block;
            width: 0;
            height: 0;
            border-inline-start: toRem(5) solid var(--persian-red);
            border-block-start: toRem(5) solid transparent;
            border-block-end: toRem(5) solid transparent;
            vertical-align: middle;
          }

          &::before {
            width: toRem(15);
            height: toRem(1.5);
            background: var(--persian-red);
            content: "";
            display: inline-block;
            vertical-align: middle;
          }
        }
      }
    }
  }
}