.cmp-profile-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white-smoke;
    margin: 0;

    &__container {
        display: flex;
        flex-wrap: wrap;
        gap: toRem(20);
        justify-content: center;
        padding: toRem(20);

        @include max-screen(md) {
            flex-direction: column;
            align-items: center;
        }

        &__profile {
            width: toRem(300);
            border: toRem(1) solid var(--light-gray);
            border-radius: toRem(10);
            overflow: hidden;
            text-align: center;
            box-shadow: 0 0 toRem(10) rgba(0, 0, 0, 0.1);
            font-family: $arial;
            background-color: $white;
            margin: toRem(20);
            &:hover {
                background-color: $kingly-cloud;
            }

            &.light {
                background-color: var(--profile-card-light-background-color);
                &:hover {
                    background-color: $dark-orange;
                }
            }

            &.dark {
                background-color: var(--profile-card-dark-background-color);
                &:hover {
                    background-color: $burlywood;
                }
            }

            &__image {
                width: toRem(150);
                height: toRem(150);
                margin: toRem(8) auto 0;
                border-radius: 50%;
                overflow: hidden;

                img {
                    height: 100%;
                    object-fit: cover;
                }
            }

            &__details {
                padding: toRem(20);
            }

            &__name {
                margin: 0;
                font-size: toRem(24);
                color: $dark-orange;

                .light & {
                    color: $sonic-silver;
                }
            }

            &__title,
            &__company {
                margin: toRem(5) 0;
                font-size: toRem(16);
                color: $sonic-silver;
            }

            &__social {
                padding: toRem(10) 0;
                background: $ghost-white;
                border-top: toRem(1) solid var(--super-silver);

                a {
                    margin: 0 toRem(10);
                    color: $sonic-silver;
                    font-size: toRem(20);
                    text-decoration: none;

                    &:hover {
                        color: $dark-orange;
                    }
                }
            }
        }
    }
}