.bg-design{
    background-color: var(--bg-design-bg-color);
    width: fit-content;
    &-container{
        display: flex;
        flex-direction: column;
        margin-inline-start: toRem(50);
        margin-inline-end: toRem(80);
        padding-block-start: toRem(100);
        margin-block-end: toRem(40);

        @include min-screen(sm) {
            margin: toRem(0) toRem(150);
            align-items: center;
        }
        
        &--title{
            color: $white-smoke;
            font-size: toRem(48);
            margin-inline-end: toRem(40);
           
         }
        &--description{
            color: var(--bg-design-description-color);
            font-size: toRem(21);
            margin: toRem(35) toRem(0);
        }
        &--button{
            cursor: pointer;
            background-color: var(--bg-design-btnbg-color);
            border: none;
            color: $white;
            font-size: toRem(14);
            padding: toRem(10) toRem(30);
            margin-inline-end: toRem(300);
            @include min-screen(sm) {
                margin-inline-end: 0;
            }
        }
       
    }

    &-bottom{
        width: toRem(0);
        height: toRem(0);
        border-style: solid;
        border-width: toRem(75) toRem(391) toRem(53) toRem(200);
        border-color: var(--bg-design-bg-color) var(--bg-design-rtbottom-color) var(--bg-design-rtbottom-color) var(--bg-design-ltbottom-color);
        transform: rotate(0deg);
        @include min-screen(sm) {
            border-width: toRem(121) toRem(614) toRem(73) toRem(380);
        }
        @include min-screen(lg) {
             border-width: toRem(170) toRem(1120) toRem(67) toRem(450);
        }
    }

    &.bg-theme-blue{
        --bg-design-bg-color: var(--lightest-blue);
        .bg-design-container--description{
            --bg-design-description-color: var(--light-grey);
        }
        .bg-design-container--button{
            --bg-design-btnbg-color: var(--light-green);
        }
        .bg-design-bottom{
           --bg-design-rtbottom-color: var(--light-cloudy);
           --bg-design-ltbottom-color: var(--light-blue);
        }
    }

    &.bg-theme-red{
        --bg-design-bg-color: var(--sunset-orange);
        .bg-design-container--description{
            --bg-design-description-color: var(--white-beige);
        }
        .bg-design-container--button{
            --bg-design-btnbg-color: var(--gulf-blue);
        }
        .bg-design-bottom{
           --bg-design-rtbottom-color: var(--white-smoke-light);
           --bg-design-ltbottom-color: var(--indian-red);
        }
    }

    &.bg-theme-green{
        --bg-design-bg-color: var(--fern-green);
        .bg-design-container--description{
            --bg-design-description-color: var(--freezing-vapour);
        }
        .bg-design-container--button{
            --bg-design-btnbg-color: var(--dark-cyan);
        }
        .bg-design-bottom{
           --bg-design-rtbottom-color: var(--almosty-whity);
           --bg-design-ltbottom-color: var(--dark-green);
        }
    }
    
}