.home-design{
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    background-size: cover;
    align-items: center;

    &-title{
        color: $white-smoke;
        font-size: toRem(40);
        margin-block-start: toRem(50);
        margin-inline-start: toRem(150);
        margin-inline-end: toRem(105);
        font-weight: $font-normal;

        @include min-screen(sm) {
            margin-inline-start: toRem(115);
            margin-inline-end: toRem(80);
        }

        @include min-screen(md) {
            font-size: toRem(50);
            margin-inline-start: 0;
            margin-inline-end: 0;
            margin-block-start: toRem(90);
        }

        @include min-screen(lg) {
            font-size: toRem(55);
            margin-block-start: toRem(130);
        }

    }
    &-content{
        background-color: $white;
        display: flex;
        flex-direction: column;
        min-height: toRem(145);
        min-width: toRem(250);
        margin-block-start: toRem(45);
        border-radius: toRem(20);
        margin-block-end: toRem(230);

        @include min-screen(sm) {
            min-width: toRem(350);
            min-height: toRem(140);
            margin-inline-start: 0;
        }

        @include min-screen(md) {
            min-width: toRem(500);
           flex-direction: row;
           border-radius: toRem(50);
           min-height: toRem(90);
        }

        @include min-screen(lg) { 
            min-width: toRem(550);     
        }

        &--left{
            display: flex;  
            justify-content: center;
            justify-content: space-evenly;
            margin-block-start: toRem(15);
    
            @include min-screen(md) {  
                width: 50%;
                justify-content: space-between;
                margin-block-start: 0;

                .design-room:first-child{
                    margin-inline-start: toRem(35)
                }
            }
    
            @include min-screen(lg) { 
                .design-room:last-child{
                    margin-inline-end: toRem(20);
                }
                
            }


            .design-room{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                &__label{
                    color: $grey;
                    font-size: toRem(12);
                    margin-block-end: toRem(10);
                }
    
                &-content{
                    display: flex;
                }
                &__quantity{    
                    width: toRem(62);
                    font-size: toRem(10);
                    border: none;
                    border-bottom: toRem(1) solid $wine;
                    text-align: center;
                }
                .icons{
                    height: toRem(22);
                    color:  $wine;
                    border: none;
                    background: transparent;
                }
            }
    
        }
        &--right{
            display: flex;  
            justify-content: space-evenly;
            margin-block-start: toRem(15);

            .home-design-right-item:last-child{
                margin-inline-end: toRem(10);
            }
           
    
            @include min-screen(md) {
                display: flex;  
                width: 50%;
                justify-content: space-around;
                margin-block-start: 0;;
    
                .home-design-right-item:last-child{
                    margin-inline-end: toRem(20);
                }
                .home-design-right-item:first-child{
                    margin-inline-start: toRem(18);
                }
            }
    
            @include min-screen(lg) { 
                .home-design-right-item:first-child{
                    margin-inline-start: toRem(10);
                }
            }
    


            .home-design-location{
                color: $grey;
                font-size: toRem(12);
                display: flex;
                flex-direction: column;
                justify-content: center;

                .design-room__label{
                    margin-block-end: toRem(5);
            
                    @include min-screen(md) {
                        margin-block-end: toRem(10);
                    }
                }
            }
            .location-list{
                border-bottom: toRem(1) solid $wine;

                .dopdown-up{
                    color:  $wine;
                    cursor: pointer;
                    border: none;
                    background: transparent;
                }
                .cities{
                    color: $black;
                }
            }

            .home-design-search{
                display: flex;
                align-items: center;

                .search-icon{
                    font-size: toRem(35);
                    color: $wine;
                    border: none;
                    background: transparent;
                }
            }
        }
       
    }
  
}
