<nav class="navbar">
  <div class="navbar-logo">
      <a href="#"><img src="https://img.freepik.com/free-psd/gradient-versus-logo-template_23-2151514120.jpg?t=st=1719496184~exp=1719499784~hmac=4fbc3a15960d0c7a1ebcf9fb9f0daff4bd5997ecd267bcc054f7bceac12a2963&w=1480" alt="logo" /></a>
  </div>
  <div class="navbar-menu active">
      <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Services</a></li>
      </ul>
  </div>
  <div class="navbar-social">
      <a href="#" class="social-icon"><i class="fab fa-facebook"></i></a>
      <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
      <a href="#" class="social-icon"><i class="fab fa-github"></i></a>
      <a href="#" class="social-icon"><i class="fas fa-basketball-ball"></i></a>
  </div>
  <button class="menu-toggle">☰</button>

  <div class="overlay">
      <div class="overlay-content">
        <div class="overlay-content__menu">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Services</a></li>
          </ul>
        </div>
        <div class="overlay-content__navbar-social">
          <a href="#" class="social-icon"><i class="fab fa-facebook"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-github"></i></a>
          <a href="#" class="social-icon"><i class="fas fa-basketball-ball"></i></a>
        </div>

        <button class="close_btn">X</button>
      </div>
    </div>
</nav>