<header class="header">
    <div class="header_wrapper">
        <div class="header_wrapper_logo">
            <img class="header_wrapper_logo-image" src="../../images/logo.png" alt="Logo Image" />
            <span class="header_wrapper_logo-title" >ORG NAME<br/>CHURCH</span>
        </div>
        <div class="header_wrapper_menu" >
            <ul class="header_wrapper_menu-ul">
                <a href="#"><li class="header_wrapper_menu-ul-items" >Home</li></a>
                <a href="#"><li class="header_wrapper_menu-ul-items" >Services</li></a>
                <a href="#"><li class="header_wrapper_menu-ul-items" >Events</li></a>
                <a href="#"><li class="header_wrapper_menu-ul-items" >Blog</li></a>
                <a href="#"><li class="header_wrapper_menu-ul-items" >About</li></a>
                <a href="#"><li class="header_wrapper_menu-ul-items" >Contact</li></a>
            </ul>
        </div>
        <button class="header_wrapper_btn">Donate Now</button>
    </div>
</header>