<section class="bannerImage" >
     <div class="bannerImage-wrapper" >
        <div class="bannerImage-wrapper__text">
            <p class="bannerImage-wrapper__text-title">John Roman</p>
            <p class="bannerImage-wrapper__text-smallText">Pronouns: <span>He/Him</span></p>
            <p class="bannerImage-wrapper__text-smallText">Senior Fellow: <br/><span class="underline-style" >Economic, Justice & Society</span></p>
            <p class="bannerImage-wrapper__text-smallText">Director: <br/><span class="underline-style" >Ogbum-Stouffer Center</span></p>
        </div>
        <div class="bannerImage-wrapper__image">
            <img src="../../images/avtar.png" alt="Avtar Image" >
        </div>
     </div>
</section>