<section class="cmp-hero-banner" >
    <div class="cmp-hero-banner-wrapper" >
        <div class="cmp-hero-banner-wrapper__text">
            <div class="cmp-hero-banner-wrapper__text-logo">
                <img src="../../images/hero-banner-light-logo.png" alt="Logo Image" >
            </div>
            <p class="cmp-hero-banner-wrapper__text-description" >
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                incididunt ut labore et dolore magna aliqua.
            </p>
            <button class="cmp-hero-banner-wrapper__text-button" >Visit AmeriSpeak <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
        </div>
        <div class="cmp-hero-banner-wrapper__right">
            <img src="../../images/hero-banner-light.png" alt="Banner Image">
        </div>
    </div>
</section>

<section class="cmp-hero-banner dark-theme" >
    <div class="cmp-hero-banner-wrapper" >
        <div class="cmp-hero-banner-wrapper__text">
            <div class="cmp-hero-banner-wrapper__text-logo">
                <img src="../../images/hero-banner-dark-logo.png" alt="Logo Image" >
            </div>
            <p class="cmp-hero-banner-wrapper__text-description" >
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                incididunt ut labore et dolore magna aliqua.
            </p>
            <button class="cmp-hero-banner-wrapper__text-button dark-btn" >Visit VizStudio <i class="fas fa-external-link-alt"></i></button>
        </div>
        <div class="cmp-hero-banner-wrapper__right">
            <img src="../../images/hero-banner-dark.png" alt="Banner Image">
        </div>
    </div>
</section>