<div class="fifty-fifty-teaser">
    <div class="fifty-fifty-teaser__text-content">
        <h2 class="fifty-fifty-teaser__subtitle">Lorem ipsum dolor sit</h2>
        <h1 class="fifty-fifty-teaser__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h1>
        <p class="fifty-fifty-teaser__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor 
            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
            sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <button class="fifty-fifty-teaser__cta-button">Button</button>
    </div>
    <div class="fifty-fifty-teaser__image-content">
        <img src="../../images/plant-hall.png" alt="Plant Hall">
    </div>
</div>