<div class="list list-theme-light">
    <div class="list-head">
        <h2 class="list-title">Our Expertise</h2>
        <button class="list-hideicon fas fa-minus"> </button>
    </div>  
    <ul class="cmp-list">
        <li class="cmp-list__item">
            <a class="cmp-list__item-link" data-cmp-clickable="" href="#">
                <span class="cmp-list__item-title">Education Equity</span>
                <span class="cmp-list__item-icon fas fa-arrow-right"> </span>
            </a>
        </li>
        <li class="cmp-list__item">
            <a class="cmp-list__item-link" data-cmp-clickable="" href="#">
                <span class="cmp-list__item-title">Elementry & Secondary Education</span>
                <span class="cmp-list__item-icon fas fa-arrow-right"> </span>
            </a>
        </li>
        <li class="cmp-list__item">
            <a class="cmp-list__item-link" data-cmp-clickable="" href="#">
                <span class="cmp-list__item-title">Rural Education</span>
                <span class="cmp-list__item-icon fas fa-arrow-right"> </span>
            </a>
        </li>
        <li class="cmp-list__item">
            <a class="cmp-list__item-link" data-cmp-clickable="" href="#">
                <span class="cmp-list__item-title">Adult Education</span>
                <span class="cmp-list__item-icon fas fa-arrow-right"> </span>
            </a>
        </li>
        <li class="cmp-list__item">
            <a class="cmp-list__item-link" data-cmp-clickable="" href="#">
                <span class="cmp-list__item-title">Campus & Workplace Climet</span>
                <span class="cmp-list__item-icon fas fa-arrow-right"> </span>
            </a>
        </li>
        <li class="cmp-list__item">
            <a class="cmp-list__item-link" data-cmp-clickable="" href="#">
                <span class="cmp-list__item-title">Education Assesment & Measurement</span>
                <span class="cmp-list__item-icon fas fa-arrow-right"> </span>
            </a>
        </li>
        <li class="cmp-list__item">
            <a class="cmp-list__item-link" data-cmp-clickable="" href="#">
                <span class="cmp-list__item-title">Parent & Family Engagement</span>
                <span class="cmp-list__item-icon fas fa-arrow-right"> </span>
            </a>
        </li>
        <li class="cmp-list__item">
            <a class="cmp-list__item-link" data-cmp-clickable="" href="#">
                <span class="cmp-list__item-title">STEM/STEAM</span>
                <span class="cmp-list__item-icon fas fa-arrow-right"> </span>
            </a>
        </li>
        <li class="cmp-list__item">
            <a class="cmp-list__item-link" data-cmp-clickable="" href="#">
                <span class="cmp-list__item-title">Civics Education & Engagement</span>
                <span class="cmp-list__item-icon fas fa-arrow-right"> </span>
            </a>
        </li>
        <li class="cmp-list__item">
            <a class="cmp-list__item-link" data-cmp-clickable="" href="#">
                <span class="cmp-list__item-title">Early Care & Education</span>
                <span class="cmp-list__item-icon fas fa-arrow-right"> </span>
            </a>
        </li>
        <li class="cmp-list__item">
            <a class="cmp-list__item-link" data-cmp-clickable="" href="#">
                <span class="cmp-list__item-title">Education Equity</span>
                <span class="cmp-list__item-icon fas fa-arrow-right"> </span>
            </a>
        </li>
        <li class="cmp-list__item">
            <a class="cmp-list__item-link" data-cmp-clickable="" href="#">
                <span class="cmp-list__item-title">Post Secondary Education</span>
                <span class="cmp-list__item-icon fas fa-arrow-right"> </span>
            </a>
        </li>
        <li class="cmp-list__item">
            <a class="cmp-list__item-link" data-cmp-clickable="" href="#">
                <span class="cmp-list__item-title">Carrier Pathway</span>
                <span class="cmp-list__item-icon fas fa-arrow-right"> </span>
            </a>
        </li>
    </ul>
</div>

<div class="list list-theme-dark">
    <div class="list-head">
        <h2 class="list-title">Our Expertise</h2>
        <button class="list-hideicon fas fa-minus"> </button>
    </div>  
    <ul class="cmp-list">
        <li class="cmp-list__item">
            <a class="cmp-list__item-link" data-cmp-clickable="" href="#">
                <span class="cmp-list__item-title">Education Equity</span>
                <span class="cmp-list__item-icon fas fa-arrow-right"> </span>
            </a>
        </li>
        <li class="cmp-list__item">
            <a class="cmp-list__item-link" data-cmp-clickable="" href="#">
                <span class="cmp-list__item-title">Elementry & Secondary Education</span>
                <span class="cmp-list__item-icon fas fa-arrow-right"> </span>
            </a>
        </li>
        <li class="cmp-list__item">
            <a class="cmp-list__item-link" data-cmp-clickable="" href="#">
                <span class="cmp-list__item-title">Rural Education</span>
                <span class="cmp-list__item-icon fas fa-arrow-right"> </span>
            </a>
        </li>
        <li class="cmp-list__item">
            <a class="cmp-list__item-link" data-cmp-clickable="" href="#">
                <span class="cmp-list__item-title">Adult Education</span>
                <span class="cmp-list__item-icon fas fa-arrow-right"> </span>
            </a>
        </li>
        <li class="cmp-list__item">
            <a class="cmp-list__item-link" data-cmp-clickable="" href="#">
                <span class="cmp-list__item-title">Campus & Workplace Climet</span>
                <span class="cmp-list__item-icon fas fa-arrow-right"> </span>
            </a>
        </li>
        <li class="cmp-list__item">
            <a class="cmp-list__item-link" data-cmp-clickable="" href="#">
                <span class="cmp-list__item-title">Education Assesment & Measurement</span>
                <span class="cmp-list__item-icon fas fa-arrow-right"> </span>
            </a>
        </li>
        <li class="cmp-list__item">
            <a class="cmp-list__item-link" data-cmp-clickable="" href="#">
                <span class="cmp-list__item-title">Parent & Family Engagement</span>
                <span class="cmp-list__item-icon fas fa-arrow-right"> </span>
            </a>
        </li>
        <li class="cmp-list__item">
            <a class="cmp-list__item-link" data-cmp-clickable="" href="#">
                <span class="cmp-list__item-title">STEM/STEAM</span>
                <span class="cmp-list__item-icon fas fa-arrow-right"> </span>
            </a>
        </li>
        <li class="cmp-list__item">
            <a class="cmp-list__item-link" data-cmp-clickable="" href="#">
                <span class="cmp-list__item-title">Civics Education & Engagement</span>
                <span class="cmp-list__item-icon fas fa-arrow-right"> </span>
            </a>
        </li>
        <li class="cmp-list__item">
            <a class="cmp-list__item-link" data-cmp-clickable="" href="#">
                <span class="cmp-list__item-title">Early Care & Education</span>
                <span class="cmp-list__item-icon fas fa-arrow-right"> </span>
            </a>
        </li>
        <li class="cmp-list__item">
            <a class="cmp-list__item-link" data-cmp-clickable="" href="#">
                <span class="cmp-list__item-title">Education Equity</span>
                <span class="cmp-list__item-icon fas fa-arrow-right"> </span>
            </a>
        </li>
        <li class="cmp-list__item">
            <a class="cmp-list__item-link" data-cmp-clickable="" href="#">
                <span class="cmp-list__item-title">Post Secondary Education</span>
                <span class="cmp-list__item-icon fas fa-arrow-right"> </span>
            </a>
        </li>
        <li class="cmp-list__item">
            <a class="cmp-list__item-link" data-cmp-clickable="" href="#">
                <span class="cmp-list__item-title">Carrier Pathway</span>
                <span class="cmp-list__item-icon fas fa-arrow-right"> </span>
            </a>
        </li>
    </ul>
</div>