<div class="bg-design">
    <div class="bg-design-container">   
        <h2 class="bg-design-container--title">Bussiness Insurence</h2>
        <p class="bg-design-container--description">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p>
        <button class="bg-design-container--button"> Contact Us</button>
    </div>
    <div class="bg-design-bottom">
    </div>
</div>

<div class="bg-design bg-theme-blue">
    <div class="bg-design-container">   
        <h2 class="bg-design-container--title">Bussiness Insurence</h2>
        <p class="bg-design-container--description">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p>
        <button class="bg-design-container--button"> Contact Us</button>
    </div>
    <div class="bg-design-bottom">
    </div>
</div>

<div class="bg-design bg-theme-red">
    <div class="bg-design-container">   
        <h2 class="bg-design-container--title">Bussiness Insurence</h2>
        <p class="bg-design-container--description">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p>
        <button class="bg-design-container--button"> Contact Us</button>
    </div>
    <div class="bg-design-bottom">
    </div>
</div>

<div class="bg-design bg-theme-green">
    <div class="bg-design-container">   
        <h2 class="bg-design-container--title">Bussiness Insurence</h2>
        <p class="bg-design-container--description">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p>
        <button class="bg-design-container--button"> Contact Us</button>
    </div>
    <div class="bg-design-bottom">
    </div>
</div>
