<div>
  <div id="myModal" class="cmp-custom-modal">
    <!-- Modal content -->
    <div class="cmp-custom-modal__content">
      <img alt="icon" src="../../images/success_icon.png" class="cmp-custom-modal__content-icon"/>
      <h3 class="cmp-custom-modal__content-title">This is Title</h3>
      <div class="cmp-custom-modal__content-desc">Description of the modal</div>

      <button id="cancelBtn" class="cmp-custom-modal__content-btn">Ok</button>
    </div>
  </div>

  <!-- button to load the popup modal -->
  <button id="successPopUp" class="popupbtn">Success Button</button>
  <button id="errorPopUp" class="popupbtn">Error Button</button>
</div>