<div class="cmp-profile-card">
  <div class="cmp-profile-card__container">
    <div class="cmp-profile-card__container__profile">
      <div class="cmp-profile-card__container__profile__image">
        <img src="https://picsum.photos/1100/960" alt="Profile Image" />
      </div>
      <div class="cmp-profile-card__container__profile__details">
        <h2 class="cmp-profile-card__container__profile__name">Deepesh</h2>
        <p class="cmp-profile-card__container__profile__title">Developer-1</p>
        <p class="cmp-profile-card__container__profile__company">RightPoint</p>
      </div>
      <div class="cmp-profile-card__container__profile__social">
        <a href="https://www.linkedin.com"><i class="fab fa-linkedin"></i></a>
        <a href="https://www.xing.com"><i class="fab fa-xing"></i></a>
        <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>
        <a href="https://www.tiktok.com"><i class="fab fa-tiktok"></i></a>
        <a href="https://www.youtube.com"><i class="fab fa-youtube"></i></a>
      </div>
    </div>

    <div class="cmp-profile-card__container__profile light">
      <div class="cmp-profile-card__container__profile__image">
        <img src="https://picsum.photos/1100/960" alt="Profile Image" />
      </div>
      <div class="cmp-profile-card__container__profile__details">
        <h2 class="cmp-profile-card__container__profile__name">DK</h2>
        <p class="cmp-profile-card__container__profile__title">Designer</p>
        <p class="cmp-profile-card__container__profile__company">
          Creative Studio
        </p>
      </div>
      <div class="cmp-profile-card__container__profile__social">
        <a href="https://www.linkedin.com"><i class="fab fa-linkedin"></i></a>
        <a href="https://www.xing.com"><i class="fab fa-xing"></i></a>
        <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>
        <a href="https://www.tiktok.com"><i class="fab fa-tiktok"></i></a>
        <a href="https://www.youtube.com"><i class="fab fa-youtube"></i></a>
      </div>
    </div>

    <div class="cmp-profile-card__container__profile dark">
      <div class="cmp-profile-card__container__profile__image">
        <img src="https://picsum.photos/1100/960" alt="Profile Image" />
      </div>
      <div class="cmp-profile-card__container__profile__details">
        <h2 class="cmp-profile-card__container__profile__name">DKK</h2>
        <p class="cmp-profile-card__container__profile__title">QA</p>
        <p class="cmp-profile-card__container__profile__company">
          CMS
        </p>
      </div>
      <div class="cmp-profile-card__container__profile__social">
        <a href="https://www.linkedin.com"><i class="fab fa-linkedin"></i></a>
        <a href="https://www.xing.com"><i class="fab fa-xing"></i></a>
        <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>
        <a href="https://www.tiktok.com"><i class="fab fa-tiktok"></i></a>
        <a href="https://www.youtube.com"><i class="fab fa-youtube"></i></a>
      </div>
    </div>
  </div>
</div>